.main_div {
    max-width: 1920px;
    width: 100%;
    margin-inline: auto;
    /* margin: 0 auto; */
    /* padding-top: 86px; */
}


/* Header */



header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 5px solid red; */
    max-width: inherit;
    width: inherit;
    padding: 26px 240px;
    background-color: rgba(213, 144, 110, 0.522);
    backdrop-filter: blur(5px);
    top: 0;
    left: 50%;
    transform: translate(-50%);
    position: fixed;
    z-index: 1;
}

.fa-bars {
    display: none;
}

nav {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 60px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 22px;
}



.earth {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 44px;
    color: #FFFFFF;
}

.div_eartart {
    display: flex;
    /* margin: auto 400px; */
    /* border: 5px solid red; */
}

.artisry {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 44px;
    color: #D5906E;

}

.shop_div {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    color: #FFFFFF;
}

.fa-cart-shopping {
    margin-left: 16px;
}


/* Section 1 */

.sec1 {
    max-width: inherit;
    width: inherit;
    height: 720px;
    /* border: 10px solid blue; */
    background-image: url("../pics/main1.png");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    /* position: absolute; */
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    align-items: center;


}

.div_section1 {
    width: 40%;
    /* height: 250px; */
    margin: 183px auto;
    /* border: 5px solid greenyellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}



.ewaf {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 3rem;
    text-align: center;
    color: #FFFFFF;

}


.pot_sec1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 40px;
}


.shop_sec1 {
    height: 50px;
    width: 40%;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid #D5906E;
}



/* Article */


.div_4cards {
    width: 50%;
    margin: 160px auto;
    display: flex;
    justify-content: space-between;
    /* gap: 60px; */
}

.div_pots {
    width: 50%;
    display: flex;
    justify-content: space-around;
    /* border: 5px solid greenyellow; */
}

.art_img {
    width: 100%;
    /* border: 5px solid greenyellow; */

}

.fig_4cards {
    width: 45%;
    /* border: 5px solid greenyellow; */
}

.caption_4cards {
    font-family: 'Inter', sans-serif;
    margin-top: 24px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 22px;
    color: #B53B1B;
}






/* Section 2 */

.sec2_sec2 {
    width: 100%;
    padding: 96px 0 96px 0;
    /* height: 922px; */
    margin: 0 auto;
    background-color: #402101;
}

.sec2_title {
    margin-bottom: 40px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;

}

.gallery_sec2 {

    margin-inline: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    border: 5px solid red;
}

.sec2_2img {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* gap: 60px; */
    /* margin-bottom: 60px; */
}

.mg1 {
    width: 60%;
}

.mg2 {
    width: 35%;
}

.sec2_3img {
    width: 100%;
    /* margin-top: 60px; */
    display: flex;
    justify-content: space-between;
    /* gap: 60px; */

}

.mg3 {
    width: 28%;
}

.mg5 {
    width: 35%;
}





/* Section 3 */

.sec3_sec3 {
    width: 80%;
    /* height: 348px; */
    margin: 160px auto;
    /* border: solid 5px red; */
}


.last_pro {
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #402101;
}

.photo_price_sec3_sec3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* border: solid 5px rgb(8, 7, 8); */
    align-items: center;
}

.photo_price_sec3_sec3::before {
    color: #B53B1B;
    font-size: 2.75rem;
    content: "\f359";
    font-family: "Font awesome 6 free";


}

.photo_price_sec3_sec3::after {
    color: #B53B1B;
    font-size: 2.75rem;
    content: "\f35a";
    font-family: "Font awesome 6 free";
}


.photo_price_sec3 {
    width: 20%;
    /* height: 100%; */
    position: relative;
    /* border: solid 5px rgb(105, 20, 203); */
}

.main_pr_sec3 {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    /* border: solid 5px rgb(13, 212, 92); */
}


.input_price {
    width: 70px;
    height: 48px;
    position: absolute;
    top: 80%;
    left: 30%;
    transform: translate(-80%, -30%);
    background: #FFFFFF;
    border-radius: 20px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    color: #B53B1B;

}


.sec3_price_p {

    margin-top: 15px;

}



/* Section 4 */

.sec4_sec4 {
    max-width: inherit;
    width: inherit;
    height: 480px;
    margin-bottom: 160px;
    /* border: 10px solid blue; */
    background-image: url("../pics/main2.png");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.sec4_div {
    width: 25%;
    /* height: 160px;
    padding: 160px 717px;
    display: flex;
    flex-direction: column;
    row-gap: 55px; */
}

.sec4_sub {
    width: 100%;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 55px;
    color: #FFFFFF;
}

.sec4_form {

    width: 100%;
    border: .5px solid #FFFFFF;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;


    height: 56px;
}

.in_sub {
    width: 70%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    background-color: transparent;
}

.div_butt {
    width: 30%;
    border-radius: 0px 10px 10px 0px;
    height: 56px;
    background-color: #FFFFFF;
}

.p_sub {
    /* border: 5px solid red; */
    /* width: 30%; */
    /* height: 100%; */
    height: 56px;
    background-color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #402101;
    border: none;
    border-radius: 0px 10px 10px 0px;
}



/* Article 2 */

.art2_what {
    width: 75%;
    margin: 160px auto;
    /* border: 5px solid red; */
}

.h3_what {
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 44px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #402101;
}

.div_community {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 5px solid red; */
    margin-bottom: 112px;
}

.div_asp {
    width: 30%;
    background-color: #D5906E4D;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.div_3com {
    margin-bottom: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 29px;
    font-family: 'Inter', sans-serif;
    color: #B53B1B;
}

.div_art_p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    color: #402101;
}


.div_quest {
    width: 100%;
    /* margin-top: 112px; */
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 20px;

}

.h4_quest {
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 29px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #402101;
}

.butt_quest {
    align-items: center;
    padding: 14px 52px;
    background: #B53B1B;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    color: #FFFFFF;

}



/* Footer */

footer {
    max-width: inherit;
    width: inherit;
    /* width: 100%; */
    background-color: #402101;
    padding: 32px 365px 58px 365px;
    display: flex;
    justify-content: space-between;
}






.earth {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 44px;
    color: #FFFFFF;
}

.div_eartart {
    display: flex;
    /* margin: auto 400px;
    border: 5px solid red; */
}

.artisry {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 44px;
    color: #D5906E;

}

.hele {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 22px;
    color: #FFFFFF;
}


.div_privacy {
    margin-top: 16px;
    margin-bottom: 43px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 19px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    row-gap: 8px;

}

.yif {
    display: flex;
    gap: 20px;
    /* border: solid 2px white; */
}


.div_footer_contact {
    display: flex;
    flex-direction: column;
}

.tel,
.mail,
.map {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 19px;
    color: #FFFFFF;
}

.mail{
    margin-top: 29px;
    margin-bottom: 34px;
}

.tel::before{
    margin-right: 16px;
    font-weight: 900;
    content: "\f095";
    font-family: "Font awesome 6 free";
}

.mail::before{
    margin-right: 16px;
    font-weight: 900;
    content: "\f0e0";
    font-family: "Font awesome 6 free";
}

.map::before{
    margin-right: 16px;
    font-weight: 900;
    content: "\f3c5";
    font-family: "Font awesome 6 free";
}